In [1]:
import pandas as pd

uri = "https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv"
dados = pd.read_csv(uri)
dados.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [2]:
x= dados[["home","how_it_works","contact"]]
y= dados[["bought"]]

In [3]:
mapa = { 
    "home" : "principal",
    "how_it_works" : "como_funciona",
    "contact" : "contato",
    "bought" : "comprou"
}
dados.rename(columns = mapa)

    principal  como_funciona  contato  comprou
0           1              1        0        0
1           1              1        0        0
2           1              1        0        0
3           1              1        0        0
4           1              1        0        0
..        ...            ...      ...      ...
94          0              0        1        0
95          1              1        1        1
96          0              0        1        0
97          0              1        0        0
98          0              0        0        0

[99 rows x 4 columns]

In [5]:
mapa = { 
    "home" : "principal",
    "how_it_works" : "como_funciona",
    "contact" : "contato",
    "bought" : "comprou"
}
dados = dados.rename(columns = mapa)

In [6]:
x= dados[["principal","como_funciona","contato"]]
y= dados[["comprou"]]

x.head()

   principal  como_funciona  contato
0          1              1        0
1          1              1        0
2          1              1        0
3          1              1        0
4          1              1        0

In [7]:
dados.shape

(99, 4)

In [8]:
treino_x = x[:75]
treino_x.shape

(75, 3)

In [9]:
treino_x = x[:75]
treino_y = y[:75]
teste_x = x[75:]
teste_y = y[75:]
teste_y.shape

print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

Treinaremos com 75 elementos e testaremos com 24 elementos

In [10]:
from sklearn.svm import LinearSVC

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)

c:\Users\victo\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\utils\validation.py:1141: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LinearSVC()

In [11]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurÃ¡cia foi %.2f%%" % acuracia)

A acurÃ¡cia foi 95.83%

c:\Users\victo\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\utils\validation.py:1141: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [12]:
from sklearn.model_selection import train_test_split

train_test_split(x, y, test_size =0.25)

[    principal  como_funciona  contato
 95          1              1        1
 21          0              1        0
 75          0              1        0
 96          0              0        1
 4           1              1        0
 ..        ...            ...      ...
 1           1              1        0
 74          0              0        1
 49          1              1        0
 62          0              0        1
 31          1              0        1

 [74 rows x 3 columns],
     principal  como_funciona  contato
 51          1              1        0
 92          1              1        0
 50          1              1        0
 25          1              1        1
 2           1              1        0
 72          0              0        1
 68          1              0        1
 64          1              0        1
 34          1              0        1
 29          0              0        1
 59          0              0        1
 70          1              1        0
 48          1              1        0
 86          1              1        0
 42          0              1        0
 76          0              0        1
 65          0              1        1
 24          1              0        1
 71          0              0        1
 47          1              0        1
 61          0              1        0
 69          1              1        0
 6           1              1        0
 77          0              1        0
 27          1              0        1,
     comprou
 95        1
 21        0
 75        0
 96        0
 4         0
 ..      ...
 1         0
 74        0
 49        0
 62        0
 31        1

 [74 rows x 1 columns],
     comprou
 51        0
 92        0
 50        0
 25        1
 2         0
 72        0
 68        1
 64        1
 34        1
 29        0
 59        0
 70        0
 48        0
 86        0
 42        0
 76        0
 65        1
 24        1
 71        0
 47        1
 61        0
 69        0
 6         0
 77        0
 27        1]